body{
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
    background: url("https://images.unsplash.com/photo-1501854140801-50d01698950b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1875&q=80");
    font-family: sans-serif;
}

h2{
    text-transform: uppercase;
    letter-spacing: 4px;
    color: white;
}

.clock {
    display: flex;
    position: relative;
}

.clock div{
   margin: 5px;
    
}

.clock span{
    width: 100px;
    height: 80px;
    background-color: aquamarine;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    text-shadow: 2px 2px 4px rbga(0,0,0,0.8);
    color: white;
    opacity: 0.8;
}

.clock .text{
    font-size: 25px;
    background-color: rgba(10, 101, 181, 0.926);
    height: 40px;
    opacity: 0.7;

}

.clock #ampm{
    bottom: 0;
    position: absolute;
    height: 40px;
    width: 70px;
    font-size: 35px;
    background-color:rgba(10, 101, 181, 0.926);
    opacity: 0,7;
}